@tailwind base;
@tailwind components;
@tailwind utilities;

/* LENIS LIB START */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
/* LENIS LIB END */

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4decf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8453b;
  border-radius: 9999px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #e4decf;
  background: #1a1a1a;
}

::selection {
  color: #e4decf;
  background: #1a1a1a;
}

.center {
  justify-content: center;
  align-items: center;
}

li::marker {
  font-size: 24px;
}

img,
video,
svg {
  user-select: none;
}

.anim-perspective {
  animation: perspective 6s infinite cubic-bezier(0.11, 0.73, 0.33, 0.94);
}

@keyframes perspective {
  0% {
    transform: perspective(1200px) rotateX(0) rotateY(0);
  }
  50% {
    transform: perspective(1200px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: perspective(1200px) rotateX(0) rotateY(0);
  }
}

.hero-img-1 {
  animation: hero-img-1 2s infinite ease;
}

@keyframes hero-img-1 {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  50% {
    transform: translateX(-5px) translateY(7px) rotate(-1deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}

.hero-img-2 {
  animation: hero-img-2 3s infinite ease;
}

@keyframes hero-img-2 {
  0% {
    transform: translateX(0) translateY(0) rotateX(0) scale(1);
  }
  50% {
    transform: translateX(0) translateY(9px) rotateX(4deg) scale(1);
  }
  100% {
    transform: translateX(0) translateY(0) rotateX(0) scale(1);
  }
}

@media (max-width: 768px) {
  @keyframes hero-img-2 {
    0% {
      transform: translateX(0) translateY(0) rotateX(0) scale(1.5);
    }
    50% {
      transform: translateX(0) translateY(9px) rotateX(4deg) scale(1.5);
    }
    100% {
      transform: translateX(0) translateY(0) rotateX(0) scale(1.5);
    }
  }
}

.hero-img-3 {
  animation: hero-img-3 2.5s infinite ease;
}

@keyframes hero-img-3 {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  50% {
    transform: translateX(3px) translateY(0) rotate(1deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}

@media (min-width: 2000px) {
  .hero-img-container img {
    bottom: -5rem;
  }
  .hero-logo {
    margin-top: 6rem !important;
  }
}

.floating-anim {
  animation: floating-anim 3s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes floating-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.pulse-anim {
  animation: pulse-anim 2s infinite ease;
}

@keyframes pulse-anim {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

.opacity-anim {
  animation: opacity-anim 4s infinite ease-in-out;
}

@keyframes opacity-anim {
  0% {
    opacity: 0.6;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

/* IS IN VIEWPORT ANIMATIONS START */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleRotate {
  0% {
    opacity: 0;
    transform: scale(0.7) rotate(30deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.5s forwards;
}

.animate-scaleRotate {
  animation: scaleRotate 1s forwards;
}

.animate-rotate-perspective {
  animation: rotate-perspective 1s forwards;
}

@keyframes rotate-perspective {
  0% {
    transform: perspective(1200px) scale(0.5) rotate(20deg);
    opacity: 0;
  }
  100% {
    transform: perspective(1200px) scale(1) rotate(0);
    opacity: 1;
  }
}
/* IS IN VIEWPORT ANIMATIONS END */

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.outer-circle::before {
  animation: circle-pulse 2s infinite ease;
  aspect-ratio: 1/1;
  border-radius: 9999px;
  width: 100%;
  height: 100%;
}

@keyframes circle-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

*:focus-visible {
  outline: none;
}

/* dashboard */

@keyframes fadeUpSkeleton {
  0% {
    opacity: 0;
    transform: translateY(600px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-skeleton {
  animation: fadeUpSkeleton 1s forwards;
}

@keyframes fadeInSection {
  0% {
    opacity: 0;
    left: -110%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.animate-dash-section {
  animation: fadeInSection 1s forwards ease-in-out;
}

@keyframes connectDash {
  0% {
    opacity: 0;
    scale: 0;
    rotate: 0deg;
  }

  100% {
    opacity: 1;
    scale: 1;
    rotate: 360deg;
  }
}
.animate-dash-text {
  animation: connectDash 1s forwards ease-out;
  animation-delay: 1s;
  opacity: 0;
}
/* LOYALTY */

.animate-nft-mouse-down {
  animation: drag_in 0.1s ease-in-out;
  animation-fill-mode: forwards;
}

.animate-nft-mouse-up {
  animation: drag_out 0.4s ease-out;
  animation-fill-mode: forwards;
}

.nftdraggable:active > div {
  /* animation: drag_in 0s ease-in-out;
  animation-fill-mode: forwards;
  width: 100px !important;
  height: 100px !important; */
}

.nftdraggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.nftdraggable > div {
  animation: drag_out 0.4s ease-out;
  animation-fill-mode: forwards;
}

@keyframes drag_in {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 80%;
    height: 80%;
  }
}

@keyframes drag_out {
  0% {
    width: 80%;
    height: 80%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fadein {
  animation: fadeIn 0.5s forwards ease-in-out;
}

@keyframes loyaltyimage {
  0% {
    bottom: -370px;
  }
  100% {
    bottom: 0;
  }
}
.animate-loyaltyimage {
  animation: loyaltyimage 0.5s forwards ease-out;
}

.strokedpoints {
  stroke-dasharray: 869;
  stroke-dashoffset: 500;
}

#svgcirclepoints {
  width: 100%;
  height: 100%;
  stroke-dasharray: 869.5447998046875;
  fill: none;
  stroke: #c8453b;
  stroke-width: 3px;
  animation: svgFillCircle 0.5s ease-in-out forwards;
}

@keyframes svgFillCircle {
  0% {
    stroke-dashoffset: 869.5447998046875;
    fill: none;
    stroke-width: 3px;
  }

  99% {
    stroke-dashoffset: 440;
    stroke-width: 3px;
    fill: none;
  }
  100% {
    fill: #c8453b;
    stroke-width: 0px;
    stroke-dashoffset: /* 440 */ 0;
  }
}

#svgarrow {
  stroke-dasharray: 569.213134765625;
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  /* stroke-dashoffset: 480; */
  animation: svgArrow 1s ease-in-out forwards;
}

@keyframes svgArrow {
  0% {
    stroke-dashoffset: 480;
    fill: none;
    stroke-width: 4px;
  }
  100% {
    fill: #000;
    stroke-width: 0px;
    stroke-dashoffset: /* 440 */ 0;
  }
}

.animate-connect {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  animation-delay: 1s;
}

.animate-your {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  animation-delay: 1.5s;
}

.animate-fcking {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  animation-delay: 2s;
}

.animate-wallet {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  animation-delay: 2.5s;
}

.animate-arrow-wallet {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  animation-delay: 3s;
}
